 <footer>
    <div class="cards footer--cards">
        <div class="card footer--card">
            <div class="footer--card__image">
                <img src="./assets//logo_image.webp" alt="Codveda logo">
            </div>
            <span class="footer--card__description">
                Delivering innovative technology solutions to help businesses
                grow, succeed, and stay competitive in the digital world.
            </span>
            <div class="social_medias">
                <img src="./assets/social media icons/facebook_2626269.png"
                    alt="facebook" width="20">
                <img src="./assets/social media icons//linkedin_4782336.png"
                    alt="linkdeen" width="20">
                <img src="./assets/social media icons/twitter_3670211.png"
                    alt="twitter" width="20">
            </div>
        </div>
        <div class="card footer--card">
            <span class="footer--card__title">Quick Links</span>
            <ul class="footer__links">
                <li class="footer__link"><a href="../index.html">HOME</a></li>
                <li class="footer__link"><a href="../about.html">ABOUT</a></li>
                <li class="footer__link"><a href="../contact.html">CONTACT US</a></li>
            </ul>
        </div>
    </div>
    <div class="horizontal_line"></div>
    <div class="lower__section">
        <span>© 2026 Codveda TechSolutions. All rights reserved.</span>
        <span>Privacy Policy | Terms of Service</span>
    </div>
</footer>
