<header>
    <div class="logo_nav">
        <div class="logo">
            <img class="logo_image" src="./assets/logo_image.webp"
                alt="Codveda logo">
        </div>
        <nav class="main_nav">
            <ul class="list_container">
                <li class="list"><a href="../index.html">Home</a></li>
                <li class="list"><a href="../about.html">About</a></li>
                <li class="list"><a href="../contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__buttons">
        <button class="header__button">Get Started</button>
    </div>
    <div class="menu_icon" id="menu_icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px"
            viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" /></svg>
    </div>
    <nav class="responsiveNav" id="responsiveNav">
        <ul class="responsive--list_container">
            <li class="list responsive--list"><a href="../index.html">Home</a></li>
            <hr>
            <li class="list responsive--list"><a href="../about.html">About</a></li>
            <hr>
            <li class="list responsive--list"><a href="../contact.html">Contact Us</a></li>
            <hr>
            <li class="list responsive--list"><a href="#">Account</a></li>
        </ul>
    </nav>
</header>